/VolumeRender.VC.db
/x64
/VolumeRender/x64
/Debug
/VolumeRender/Debug
/Release
/VolumeRender/Release
*.opendb
/VolumeRender/dicomMatrix.bin
/*.vspx
/VolumeRender/SAVE_IMG.TXT
/.vs/VolumeRender/v14
/VolumeRender/img.bmp
/VolumeRender/dicomMatrixOLD.bin
/VolumeRender/*.bin
